{
	"trailingComma": "none",
	"useTabs": true,
	"semi": false,
	"tabWidth": 4,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"printWidth": 100,
	"endOfLine": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/config/(.*)$",
		"^@/components/(.*)$",
		"^@/assets/(.*)$",
		"^@/hooks/(.*)$",
		"^@/helpers/(.*)$",
		"^@/utils/(.*)$",
		"^@/types/(.*)$",
		"^@/services/(.*)$",
		"^@/providers/(.*)$",
		"^@/navigation/(.*)$",
		"^@/api/(.*)$",
		"^@/store/(.*)$",
		"^@/data/(.*)$",
		"^../(.*)$",
		"^./(.*)$",
		"^[./]",
		"^[a-z]",
		"^@/styles/globals.css$",
		"^.*\\.css$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": ["typescript", "jsx"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
